.speed,
.billboardName {
    user-select: none;
    text-align: center;
    color: var(--player-color);

    &::before {
        box-shadow: none;
    }
}

.speed {
    font-size: rem(70);
    font-family: $polaquita-font;
    letter-spacing: rem(6);
}

.billboardName {
    font-size: rem(28);
}

.notSelectable {
    opacity: 0.5;
}
