.wrapper {
    // display: flex;
    // flex-direction: column;
    // gap: rem(1);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    font-size: rem(20);

    color: white;
}

.topCenterZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(12);

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: grid(4);
}

.board {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &__player {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: rem(16);
    }
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
}

.drawers {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.targets {
    display: flex;

    position: absolute;
    bottom: rem(60);
    left: 50%;
    transform: translateX(-50%);
}

.remove {
    background-color: red;
    &:hover {
        background-color: #ff0000;
    }
}