.wrapper {
    font-size: rem(20);
    color: white;
}

// .middle {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     height: 100%;
//     width: 2px;
//     background-color: rgb(225, 0, 255);
//     z-index: 9000;
// }

.topLeftZone {
    position: absolute;
    top: rem(16);
    left: rem(16);
}

.topCenterZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.board {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &__player {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: rem(16);
    }
}

.targets {
    display: flex;

    position: absolute;
    bottom: rem(60);
    left: 50%;
    transform: translateX(-50%);
}

.remove {
    background-color: red;
    &:hover {
        background-color: #ff0000;
    }
}
