.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(32);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    color: var(--color-light);
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(32);

    .player {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(8);
    }
}