.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(32);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    color: var(--color-light);
    background-color: var(--color-bg-overlay);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: rem(32);
    padding: 0 rem(64);
    width: 100%;
    max-width: rem(560);
    color: var(--color-content-main);
    background-image: url('/images/ui/results-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 95%;
}

.resultsTitle {
    font-family: $polaquita-font;
    font-size: rem(48);
    color: var(--color-background-transport-main-2);
    transform: rotate(-2deg);

        &::before {
            box-shadow: 2px 16px 8px 4px rgba(113, 113, 113, 0.592);
        }
}

.defeatTitle {
    color: var(--color-looser);
}

.players {
    display: flex;
    flex-direction: column;
    gap: rem(28);
    width: 100%;
}

.player {
    position: relative;
    width: rem(120);
    z-index: 2;

    .name {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .status {
        width: 100%;
    }
}

.finishers {
    display: flex;
    justify-content: space-around;
}

.looser {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    padding: rem(24);

    .looserTitle {
        position: absolute;
        top: rem(-10);
        left: 0;
        z-index: 6;
        transform: rotate(-2deg);
        font-family: $astounder-font;
        font-size: rem(24);
    }
}

.layerWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon( 0% 0%,7.994% 5.227%,98.837% 0%,100% 26.136%,96.439% 90%,86.773% 96.818%,11.919% 100%,0.509% 95.227%,1.235% 30%,0% 0% );
    background-color: var(--color-looser-light);

    .layer {
        opacity: 0.2;
        position: absolute;
        mix-blend-mode: overlay;
    }
}

@media screen and (max-height: 600px) {
    .results {
        gap: rem(20);
        max-width: rem(480);
    }

    .players {
        gap: rem(24);
    }

    .player {
        width: rem(100);
    }
}

@media screen and (max-width: 600px) {

    .player {
        width: rem(100);
    }
}