.wrapper {
    border: 1.5px solid #222222;
    border-radius: rem(6);

    padding: rem(8) rem(12);

    background-color: black;
    &:hover {
        background-color: #222222;
    }
}

.disabled {
    cursor: not-allowed;
    color: #222222;
}
