.wrapper {
    border: 1.5px solid #1f1f1f;
    border-radius: rem(0.2);

    padding: rem(12) rem(8);

    align-self: flex-start;

    background-color: black;
    &:hover {
        background-color: #1f1f1f;
    }
}

.disabled {
    cursor: not-allowed;
    color: #a2a2a2;
}
