.wrapper {
    cursor: pointer;
    position: relative;
    // width: rem(120);
    // height: rem(80);
    width: clamp(rem(80), 50vw, rem(120));
    height: clamp(rem(53), 50vh, rem(80));

    svg {
        position: absolute;
    }

    &.large {
        cursor: default;
        // width: rem(375);
        // height: rem(250);
        width: clamp(rem(250), 60vw, rem(375));
        height: clamp(rem(167), 60vh, rem(250));
    }
}
