.wrapper {
    cursor: var(--cursor-pointer);
    position: relative;
    width: clamp(rem(80), 50vw, rem(120));
    height: clamp(rem(53), 50vh, rem(80));

    svg {
        position: absolute;
        transform-origin: center;
    }

    div {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    &.large {
        cursor: var(--cursor-default);
        width: clamp(rem(250), 60vw, rem(425));
        height: clamp(rem(167), 60vh, rem(285));

        svg {
            transform-origin: center;
        }
    }
}
