.wrapper {
    display: flex;
    width: grid(9);
    justify-content: center;

    position: absolute;
    bottom: calc(var(--padding) * 1.5);
    left: 50%;
    transform: translateX(-50%);
}

.card {
    border: 1px solid greenyellow;
}

.image {
    height: rem(40);
    width: rem(40);
    background-image: url('images/ffe.svg');
    background-repeat: no-repeat;
}
