.wrapper {
  border: 1px solid red;
}

.card {
  display: flex;
  position: relative;
  width: calc((var(--ivh) * 0.3) * 0.9);
  height: calc((var(--ivh) * 0.2) * 0.9);
}

.background {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;

  clip-path: polygon(
    2.153% 90.75%,
    0.245% 23.703%,
    6.127% 2.934%,
    22.822% 1.58%,
    57.482% 0.225%,
    92.937% 2.483%,
    98.979% 7.901%,
    97.389% 88.267%,
    92.142% 95.717%,
    78.31% 96.168%,
    46.511% 97.523%,
    6.604% 95.265%,
    2.153% 90.75%
  );
}

.layers {
  position: relative;
  overflow: hidden;
  background-color: var(--background);
  width: 100%;

  clip-path: polygon(
    0% 10.712%,
    8.882% 1.435%,
    56.891% 0%,
    96.546% 2.827%,
    100% 26.714%,
    97.862% 93.043%,
    70.529% 98.456%,
    6.25% 100%,
    0% 88.404%,
    0% 10.712%
  );

  & > * {
    position: absolute;
  }
}

.layer {
  mix-blend-mode: overlay;
}

.impactIndicator {
  position: absolute;
  top: rem(-20);
  left: calc(rem(-55) * 0.5);
}

.speedIndicator {
  position: absolute;
  top: calc(var(--padding) * 2.5);
  left: calc(rem(-35) * 0.5);
}

.remove {
  background-color: red;
  &:hover {
    background-color: #ff0000;
  }
}

.clicked {
  background-color: green;
}

.target {
  border: 1px solid yellow;
}
